body {
    
}
.header{
    width:100%;
    clear:both;
    border: 0;
    padding: 0;
    position: relative;
    height : 80px;
}
.logo
{
    width : 16%;
    margin-left:2%;

}
.menu
{
    border-bottom: 1px solid #d0d0d0;
    font-size: 90%;
    padding: 7px 20px 0px 7px;
    clear : both;
    height : 46px;
    background-color : #5DBCD2;
}
.content
{
    margin-right: auto;
    margin-left: auto;
    clear : both;
    width : 100%;
}
.left-col
{
    float : left;
    border: 1px solid #d0d0d0;
    border-top: 0px;
    width : 20%;
    height : 1000px;
    border : 1px solid #808080;
}
.right-col
{
    float : left;
    width : 80%;
    height : 1000px;
    border : 1px solid #808080;
}