body {
    
}
.header{
    width:100%;
    clear:both;
    border: 0;
    padding: 0;
    position: relative;
    height : 100px;
}
.logo
{
    width : 16%;
    margin-left:2%;
}
.menu
{
    border-bottom: 1px solid #d0d0d0;
    font-size: 90%;
    padding: 7px 20px 0px 7px;
    clear : both;
    height : 46px;
    background-color : #5DBCD2;
}
.content
{
    margin-right: auto;
    margin-left: auto;
    clear : both;
    width : 100%;
    height :auto;
    
}
.left-col
{
    float : left;
    border: 1px solid #d0d0d0;
    border-top: 0px;
    width : 14%;
    border : 1px solid #808080; 
}
.right-col
{
    float : left;
    width : 86%;
    border : 1px solid #808080;
    padding: 1% 0 5% 3%;
}
.contentMenu
{
    height : 30px;
}
.SubheaderButton{

    background-color:white; 
    border: none;
    color: black;
    padding-left:2pt;    
    text-decoration:solid;      
    margin: 4px 2px;
    cursor: pointer;   
    width:85pt;
    height:20pt; 
    font-weight:300;

}
.SubheaderButton:hover {
    border-color:black;
    box-shadow:10px 10px 5px grey;
}

.hyperLinkCategoryStyle {
  text-align:left center;
  cursor: pointer;
  display:block;
  padding:3% 0 0 10%;
  height:40px;
  color:black;
  font-size:14px;
  border-bottom : 1px solid #5DBCD2;
  margin : 2% 0 0 0;
}

.hyperLinkCategoryStyle:hover 
{
    background-color:white;
    transition: all 0.8s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
}
.CategoryHeader{

     background-color: #5DBCD2; 
     display: block;
     height:40px;
     color:white;
     padding:5% 0 0 10%; 
     font-size:14px;      
}
.loginButton
{
    background-color: #5DBCD2;
    border: none;
    color: black;
    padding-left:2pt;    
    text-decoration:solid;      
    margin: 2% 0 0 0;
    cursor: pointer;   
     width:75pt;
    height:25px; 
    font-weight:300;
}
.RegistrationButton
{
    background-color: #5DBCD2;
    border: none;
    color: black;
    padding-left:6% 0 0 0;    
    text-decoration:solid;      
    margin:0 0 0 14%;
    cursor: pointer;   
    width:75pt;
    height:25px; 
    font-weight:300;
}
.CartItemCountLabel
{
  width: 3%;
  border-radius: 15%;
  border: 1px solid red;
  background-color:red;
  color:white;
  text-align:center;
er;
}

.moButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.moButton2 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}

.moButton2:hover {
    border-color:black;
    box-shadow:10px 10px 5px grey;
    border: 2px solid #008CBA;
    color: #008CBA;
}
